
*{
  overflow-x: hidden;
}
 
body{
  background-color: white;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-area{
  margin-bottom: 109px;
}

.nav-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  height: 59px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}

.nav-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1.25rem;
}

.menu-list{
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding-inline: 2.8rem;
}

.menu-list li{
  padding-inline: 1.5rem;
}

.menu-list li:hover{
  -webkit-text-stroke: 0.3px black;
}

.menu-list li:active{
  -webkit-text-stroke: 0.3px black;
}

.nav-service{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: white;
}

.search-icon{
  width: 10px;
  color: black;
}

.nav-input-area{
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 10px;
}

.nav-input{
  border: none;
  outline: none;
  width: 66px;
  cursor: pointer;
  border-bottom: 1px solid black;

}

.nav-input:focus {
  border-bottom: 1px solid black;
}

.nav-input:hover{
  -webkit-text-stroke: 0.3px black;
}

.nav-input::placeholder{
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.login-area{
  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  font-size: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  gap: 4px;
}

.login-area:hover{
  -webkit-text-stroke: 0.3px black;
}

.nav-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 50px;
  top: 59px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}

.category-list{
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  color: grey;
  cursor: pointer;
  padding-left: 9rem;
  margin: 0;
  letter-spacing: -1px;
}

.category-list li{
  padding-inline: 1.1rem;
}

.select:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.select:active{
  color: black;
  text-decoration: underline;
}

.select.active {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.product-area{
  width: 100vw;
}

.product-all{
  display: flex;
  width: 100%;
}

.product-card{
  font-size: 10px;
  margin-top: 20px;
}

.choice{
  font-size: 10px;
}

.product-name{
  font-weight: bold;
}

.product-img{
  width: 100%;
  object-fit: cover;
}

.product-sizes {
  height: 1.2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  font-size: 0.9rem;
  color: #000000;
  font-size: 10px;
  margin-right: .9375rem;
  font-weight: bold;
}

/* hover 시 텍스트만 나타나게 */
.product-card:hover .product-sizes {
  visibility: visible;
  opacity: 1;
}
