

*{
  overflow-x: hidden;
}
 
body{
  background-color: white;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-area{
  margin-bottom: 109px;
  position: relative;
  z-index: 3;
}

.nav-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  height: 59px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}

.nav-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1.25rem;
  cursor: pointer;
}

.menu-list{
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding-inline: 2.8rem;
}

.menu-list li{
  padding-inline: 1.5rem;
}

.menu-list li:hover{
  -webkit-text-stroke: 0.3px black;
}

.menu-list li:active{
  -webkit-text-stroke: 0.3px black;
}

.nav-service{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: white;
}

.search-icon{
  width: 10px;
  color: black;
}

.nav-input-area{
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 10px;
}

.nav-input{
  border: none;
  outline: none;
  width: 66px;
  cursor: pointer;
  border-bottom: 1px solid black;

}

.nav-input:focus {
  border-bottom: 1px solid black;
}

.nav-input:hover{
  -webkit-text-stroke: 0.3px black;
}

.nav-input::placeholder{
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.login-area{
  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  font-size: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  gap: 4px;
}

.login-area:hover{
  -webkit-text-stroke: 0.3px black;
}

.nav-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 50px;
  top: 59px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}

.category-list{
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  color: grey;
  cursor: pointer;
  padding-left: 9.2rem;
  margin: 0;
  letter-spacing: -1px;
}

.category-list li{
  padding-inline: 1.1rem;
}

.select:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.select:active{
  color: black;
  text-decoration: underline;
}

.select.active {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}


.home-img{
  padding: 1.25rem;
}


.product-area{
  width: 100vw;
}

.product-all{
  display: flex;
  width: 100%;
}

.product-card{
  font-size: 10px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  background-color: white;
  letter-spacing: -0.5px;
}

.choice{
  font-size: 10px;
  padding-top: 5px;
}

.choice-true-text{
  display: inline-block;
  padding-inline: 3px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.product-name{
  font-weight: bold;
}

.product-img{
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
  position: relative;
}

.product-new{
  text-align: right;
  margin-right: 5px;
  font-weight: bold;
}

.product-sizes {
  height: 1.2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  font-size: 0.9rem;
  color: #000000;
  font-size: 10px;
  margin-right: .9375rem;
  font-weight: bold;
}

.product-card:hover .product-sizes {
  visibility: visible;
  opacity: 1;
}

.product-card:hover .product-img {
  transform: scale(1.1);
  overflow: hidden;
}

.product-card:hover .product-new{
  color: #CBBD93;
}

.product-name,
.choice,
.choice-true,
.product-sizes {
  background-color: white;
  position: relative;
  z-index: 2;
}


.login-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.account-area{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  width: 100%;
}

.login-box{
  width: 30dvw;
}

input[type="email"], input[type="password"]{
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  background-color: none !important;
  outline: none !important;
  font-family: 'Helvetica Neue' !important;
  font-size: 12px;
}

.login-button{
  background-color: black;
  color: white;
  border: 1px solid black;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  padding-block: 1rem;
}

.login-button:hover{
  background-color: grey;
}

.signup-area{
  display: flex;
  justify-content: center;
}

.signup-box{
  width: 30dvw;
}

.signup-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.signup-button{
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  padding-block: 1rem;
}

.signup-button:hover{
  background-color: grey;
  color: white;
}

.detail{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 10px;
}

.detail-container{

  width: 1405px;
}

.detail-img{
  width: 100%;
}

.detail-info{
  padding: 5.25rem;
}

.detail-product-info{
  display: flex;
  flex-direction: column;
  padding-left: 7rem;
}

.detail-title{
  font-weight: 900;
  letter-spacing: -0.5px;
}

.detail-price{
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-color{
  padding: 1.25rem;
}