
 
body{
  background-color: white;
  overflow-x: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-area{
  margin-bottom: 109px;
  position: relative;
  z-index: 3;
}

.nav-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  height: 59px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}

.nav-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1.25rem;
  cursor: pointer;
}

.menu-list{
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  color: black;
  margin: 0;
  padding-inline: 2.5vw;;
}

.menu-list li{
  padding-inline: 1.5rem;
}

.menu-list li:hover{
  font-weight: 900;
}

.menu-list li:active{
  font-weight: 900;
}

.nav-service{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: white;
}

.search-icon{
  width: 10px;
  color: black;
}

.nav-search-text{
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
}

.nav-search-text:hover{
  font-weight: 900;
}

.nav-search-text.active{
  text-decoration: underline;
}

.nav-input-area{
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 10px;
}

.nav-input{
  border: none;
  outline: none;
  width: 66px;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.nav-input:focus {
  border-bottom: 1px solid black;
}

.nav-input:hover{
  font-weight: 900;
}

.nav-input::placeholder{
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.login-area{
  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  font-size: 10px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  gap: 4px;
}

.login-area:hover{
  font-weight: 900;
}



.hamburger{
  display: none;
}

.nav-sidemenu{
  display: none;
}

@media screen and (max-width: 1000px) {
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    width: 25px;
    margin-right: 5px;
  }

  .nav-sidemenu{
    display: none;
  }

  .nav-sidemenu.open {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 4rem 4rem;
  }

  .nav-sidemenu li {
    margin-bottom: 1.25rem;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
  }

  .nav-sidemenu li:hover{
    text-decoration: underline;
  }

  .select{
    display: none !important;
  }

  .nav-category-box{
    display: none !important;
  }

  .nav-bottom{
    display: none !important;
  }

  .category-list{
    display: none !important;
  }

  .category-list li{
    display: none !important;
  }

  .nav-area {
    margin-bottom: 60px;
  }

}

.nav-search{
  display: none;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  position: fixed;
  height: 50px;
  top: 59px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  position: fixed;
  z-index: 10;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  padding-inline: 1.25rem;
}

.nav-search.active{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-search-input-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 49px;
}

.nav-search-input{
  border: none;
  outline: none;
  cursor: pointer;
  width: 70vw;
  font-size: 10px;
  padding-block: 0.5rem;
}

.nav-search-icon{
  width: 4rem;
  cursor: pointer;
}

.nav-search-icon:hover{
  background-color: whitesmoke;
}



.nav-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 50px;
  top: 59px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  position: fixed;
  z-index: 5;
}

.nav-category-menu{
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category-list{
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  color: grey;
  cursor: pointer;
  padding-left: 9.5vw;
  margin: 0;
  letter-spacing: -1px;
  gap: 2.1875rem;
}

.category-list li{
  flex: 0 0 auto; 
  cursor: pointer;
  white-space: nowrap;
}


.select:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.select:active{
  color: black;
  text-decoration: underline;
}

.select.active {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}


.home-img{
  padding: 1.25rem;
}


.product-area{
  width: 100vw;
}

.product-all{
  display: flex;
  width: 100%;
}

.product-all-area{
  padding-inline: 160px;
  padding-bottom: 40px;
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  .product-all-area{
    padding-top: 59px;
    padding-inline: 20px;
    padding-bottom: 20px;
  }
}

.product-card{
  font-size: 10px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  background-color: white;
  letter-spacing: -0.5px;
}

.choice{
  font-size: 10px;
  padding-top: 5px;
}

.choice-true-text{
  display: inline-block;
  padding-inline: 3px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.product-name{
  font-weight: bold;
}

.product-img{
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
  position: relative;
}

.product-new{
  text-align: right;
  margin-right: 5px;
  font-weight: bold;
}

.product-sizes {
  height: 1.2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  font-size: 0.9rem;
  color: #000000;
  font-size: 10px;
  margin-right: .9375rem;
  font-weight: bold;
}

.product-card:hover .product-sizes {
  visibility: visible;
  opacity: 1;
}

.product-card:hover .product-img {
  transform: scale(1.1);
  overflow: hidden;
}

.product-card:hover .product-new{
  color: #CBBD93;
}

.product-name,
.choice,
.choice-true,
.product-sizes {
  background-color: white;
  position: relative;
  z-index: 2;
}


.login-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 1000px) {
  .account-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
  }

  .login-box{
    width: 70vw !important;
  }

  .signup-box{
    width: 70vw !important;
  }

  .nav-area{
    margin: 0;
  }

  .menu-list{
    display: none;
  }

}

.account-area{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8vw;
  width: 100%;
}

.login-box{
  width: 25dvw;
}

input[type="email"], input[type="password"]{
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  background-color: none !important;
  outline: none !important;
  font-family: 'Helvetica Neue' !important;
  font-size: 12px;
}

.login-button{
  background-color: black;
  color: white;
  border: 1px solid black;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  padding-block: 1rem;
}

.login-button:hover{
  background-color: grey;
  border: none;
}

.signup-area{
  display: flex;
  justify-content: center;
}

.signup-box{
  width: 25dvw;
}

.signup-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.signup-button{
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  padding-block: 1rem;
}

.signup-button:hover{
  background-color: grey;
  color: white;
  border: none;
}

.detail{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
}

.detail-container{
  width: 1405px;
}

.detail-box{
  display: flex;
}

.custom-col{

}

@media screen and (max-width: 1000px) {

  .detail{
    width: 100vw !important;
  }
  
  .detail-box{
    padding-top: 59px;
  }

  .detail-info{
    padding: 0 !important;
  }

  .detail-product-info{
    width: 100% !important;
    padding: 2rem 3rem 0 2rem !important;
  }

  .detail-shopping-buttons{
    display: flex;
  }

  .detail-shopping-area{
    justify-content: center;
    padding-inline:0 !important;

    align-items: center;
    gap: 2vw !important;
    width: 100vw !important;
  }

  .detail-add{
    width: 45vw !important;
  }

  .detail-buy{
    width: 45vw !important;
  }

  .detail-img{
    width: 100vw !important;
  }

}

.detail-img{
  width: 100%;
}

.detail-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5.25rem 5.25rem 0 0;
}

.detail-product-info{
  display: flex;
  flex-direction: column;
  padding-left: 7rem;
  width: 80%;
  letter-spacing: -0.5px;
}

.detail-title{
  font-weight: 900;
}

.detail-price{
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-color{
  padding-block: 1.25rem;
  border-top: 1px solid whitesmoke;
  color: rgb(117 117 117);
  font-weight: 600;
}

.detail-size{
  display: flex;
  list-style: none;
  padding-block: 20px;
  font-weight: 500;
  cursor: pointer;
  border-top: 1px solid whitesmoke;
}

.detail-size li{
  padding-right: 1.25rem;
}

.detail-size li:hover{
  font-weight: 900;
}

.detail-ship-info{
  padding-block: 1.25rem;
  border-top: 1px solid whitesmoke;
}

.detail-detail{
  border-top: 1px solid whitesmoke;
}

.detail-detail-button{
  padding-block: 1.25rem;
  padding-inline: 0;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  text-align: left;
  margin: 0;
  letter-spacing: -0.5px;
  font-size: 10px;
  color: black;
}

.detail-detail-title{
  font-weight: 700;
  min-width: 40px;
  margin-right: 5px;
  color: black;
}

.detail-detail-button:hover .detail-detail-title{
  font-weight: 800;
}

.detail-arrow{
  color: black;
  width: 8px;
  transform: rotate(270deg);
}

.detail-detail-button:hover .detail-arrow {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}

.detail-shopping-area{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-inline: 1rem;
  gap: 1vw;
}

.detail-shopping-add{
  color: black;
  width: 100%;
  height: 2.8125rem;
  background-color: black;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s ease;
  padding-inline: 5vw;
}

.detail-shopping-add:hover{
  background-color: gray;
  border: none;
}

.detail-shopping-buy{
  width: 100%;
  height: 2.8125rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding-inline: 5vw;
}

.detail-shopping-buy:hover{
  color: white;
  background-color: gray;
  border: none;
}